.grid-container {
    display: grid;
    position: relative;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #668fb1;
    padding: 100px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  #treeOrGraph{
    text-align: center;
    margin: 10px 0;
    display: inline;
  }

  body{
      text-align: center;
      margin: 100px 0;
  }


  