
.header{
  grid-area: hd;
  background-color: #668fb1;

}

.grid-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    position: center;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #668fb1;
    padding: 100px;
}
  
.grid-container > div {
    background-color: rgba(252, 250, 250, 0.8);
    text-align: center;
    padding: 40px 0;
    font-size: 30px;
}

.axis text{
  font-size: 200px;
}


#display{
  padding: 1px;
  width: 100%;
}

#treeOrGraph{
    text-align: center;
    margin: 10px 0;
    display: inline;
}

#controller{
      text-align: middle; 
      width: 100%;
      height: 40px;
      border-radius: 80px;
}

body{
    justify-content: center;
    text-align: center;
    margin: 100px 0;
    background-color: rgb(240, 230, 230);
}

 #pupil_viz{
   box-sizing: content-box;
   
 }

 #main{
   box-sizing: border-box;
 }

 #stats{
   text-align: center;
   word-wrap: keep all;
 }

.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
/* */
.zoom:hover {
  transform: scale(1.1); /* (120% zoom)*/
  background-color:  rgba(252, 250, 250, 0.9);
}